.wrapper{
  width: 500px;
  /* height: 500px; */
  min-height: 500px;
  border: 3px solid red;
}
.inner{
  box-sizing: border-box;
  width: 50%;
  /* height: 300px; */
  border: inherit;
  border-color: blue;
}