*{
  box-sizing: border-box;
}
body{
  font-size: 20px;
}
#container{
  border: 1px solid red;
}
.block{
  border: 3px dotted orangered;
}
div{
  border: 3px double green;
}
p{
  background-color: orchid;
}
#container p{
  background-color: palegreen;
}
#container>p{
  background-color: purple;
}
#container>.block>p{
  background-color: yellow;
}
#container>.block>.inner-block>p{
  background-color: tomato;
}