.img{
  width: 300px;
  height: 300px;
  box-sizing: border-box;

  object-fit: cover;
  object-position: top left;

  /* border: 3px solid red;
  border-radius: 50%; */
  /* padding: 15px; */
  margin: 10px auto;
}
