th, td{
  border: 1px solid #555;
  vertical-align: top;
  text-align: left;
}
table{
  border-collapse: collapse;
  min-width: 500px;
  width: 100%;
  max-width: 1100px;
  /* empty-cells: hide; */
}
caption{
  text-align: right;
}