:root{
  --main-font-size: 16px;
}


p+p{
  color:red;

}
p+div{
  color:teal;
}

#container > p ~ div{
  font-size: var(--main-font-size);
}

.inner-block>p:hover{
  background-color: #7ed7e2;
  color: #fff;
}