.container{
  display: inline-block;
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  padding-top: 20px;
  margin: 10px;

  background-color: coral;

  text-align: center;
  font-size: 2em;
}
.hidden1{
  display: none;
}
.hidden2{
  opacity: 0;
}
.hidden3{
  visibility: hidden;
}